
<div class="container">
    <button type="button" class="btn btn-primary" (click)="reload()">Refresh</button>
</div>
<div class="container">
<wj-flex-grid #flex         
              [itemsSource]="treeData"
               [headersVisibility]="1"
               [allowResizing]="'None'"
               [childItemsPath]="'items'"
              (itemsSourceChanged)="onItemsSourceChanged(flex, $event)"
              (cellEditEnding)="onCellEditEnding($event, flex)"
            >
    <wj-flex-grid-column [isReadOnly]="true"
                         [binding]="'name'"
                         [width]="'*'">
        <ng-template wjFlexGridCellTemplate
                     [cellType]="'Cell'"
                     let-cell="cell">
             {{cell.item.name}}
        </ng-template>
    </wj-flex-grid-column>
    <wj-flex-grid-column [isReadOnly]="false"
                         [binding]="'length'"
                         [width]="'*'"
                         [align]="'center'">
        <ng-template wjFlexGridCellTemplate
                     [cellType]="'Cell'"
                     let-cell="cell">
             {{cell.item.length}}
        </ng-template>
    </wj-flex-grid-column>
</wj-flex-grid>
</div>
 
<li>Clicking on one of the cell inside grid makes the cell highlight in blue </li>
<li>Now when i clcik on refresh button, table is loaded again with new data, but still the column of the cell which i selected previously remains blue now shifting to top cell of column</li>

<li><b>How to avoid that behaviour ?(Don't want the cell highlight by default only up on selection of cell in edit mode i.e length column)</b></li>